* {
  box-sizing: border-box;
  font-family: "bepbop";
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* #game {
  border: 5px green solid;
} */

.container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.cheat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

label {
  text-align: center;
}

@font-face {
  font-family: "bepbop";
  src: url(./bepbop.ttf);
}